VITE_API_BASE_URL=https://cinexflix-gq2n.onrender.com/api
VITE_DASHBOARD_URL=https://cinexflix-gq2n.onrender.com:8055
VITE_OMDB_API_KEY=abc8d0ee
VITE_CLOUDINARY_UPLOAD_URL=https://api.cloudinary.com/v1_1/doacvhdgt/image/upload
CINEFLIX_MONGO_URI=
