.btnBuscar:hover {
    background-color: #3de3c2;
    box-shadow: 0 0 10px rgb(30, 197, 80);
    color: black;
}

.navbar-nav .dropdown-menu {
    position: absolute !important;
    z-index: 1050;
}

@media (max-width: 992px) {
    .navbar-nav .dropdown-menu {
        position: relative !important;
        z-index: 1050;
    }
}