.formLogin {
    background-image: url('../img/fondo.jpg');
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.formLogin>form {
    background-color: rgba(0, 0, 0, 0.6);
    gap: 20px
}

.formLogin strong:hover {
    text-decoration: underline;
}