.pagosContainer {
    background-image: url('../img/fondo.jpg');
    min-height: 100vh;
    max-height: 800px;
}

.pagosContainer>div {
    background-color: rgba(0, 0, 0, 0.6);
}

.pagosContainer>div>* {
    margin-bottom: 20px;
}

.pagosContainer h2 {
    font-size: 60px;
}

/* Estado normal (no seleccionado) */
.pagosContainer .btn-check+.btn {
    color: #ffffff;
    border: none;
    background-color: transparent;
}

/* Desactivar hover si no está seleccionado */
.pagosContainer .btn-check+.btn:hover {
    background-color: transparent;
    color: #ffffff;
}

/* Estado seleccionado */
.pagosContainer .btn-check:checked+.btn {
    background-color: #06D6A0;
    color: #000000;
    outline: 2px solid #000000;
}