 .formRegistro {
     background-image: url('../img/fondo.jpg');
     min-height: 100vh;
     max-height: 800px;
 }

 .formRegistro>form {
     background-color: rgba(0, 0, 0, 0.6);
     gap: 20px
 }

 .formRegistro strong:hover {
     text-decoration: underline;
 }